.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
    padding: 1rem;
    color: black;
    font-family: "Black Ops One", "sans-serif";
    background-color: rgba(254, 184, 79, 0.2);
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bars {
    display: none;
}

.nav-links {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links a {
    text-decoration: none;
    margin-right: 1.5rem;
    color: black;
    transition: 0.4s;
}

.nav-links a:hover {
    color: var(--main-color);
}

.bg-header, 
.video-demo {
    background-color: rgb(31, 31, 31);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    position: relative;
    padding: 4.38rem 0;
    z-index: 1;
}

@media (max-width: 768px) {
    .nav-bars {
        display: block;
        border: none;
        background-color: transparent;
        z-index: 5;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: var(--main-color);
    }
    
    .nav-links.open {
        display: flex;
    }

    .nav-links a {
        font-size: xx-large;
    }
}